p {
    line-height: 150%;
}

a{
    text-decoration: none;
    color: #333333;
}

.title__large{
    font-size: 4rem;
    margin-bottom: 3.2rem;
}

.title__med{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.p-styled {
    padding-left: 3.2rem;
    border-left: 2px solid rgb(162, 172, 182);
    color: rgb(116, 116, 116);
    margin-bottom: 5.6rem;
    width: 40rem;
}
